---
title: The Nissan S-Cargo
description: The weirdest, wonderfulest little car.
cover_image: 
    src: /post-images/s-cargo-1.jpg
    alt: A Nissan S-Cargo
    credit: Nissan
published: 2026-07-06T19:00:00.000Z
last_modified: 2026-07-10T20:50:00.000Z
category: Cars
---

<script>
    import Figure from "../../components/Figure.svelte";
    import Snippet from "../../components/Snippet.svelte";
    import Horizontal from "../../components/blog/Horizontal.svelte";
</script>

Telling a client to ignore Lorem Ipsum is a one-time thing. They quit reading it because it doesn’t make sense. Telling a client to ignore draft copy can be a never-ending battle. I show draft copy quite frequently, and in every meeting I usually get a handful of confused questions about it. I’ve had terrible situations where work-in-progress showing draft copy gets passed around to client stakeholders who haven’t participated in review sessions, and then fielded angry phone calls about the “wrong” content appearing in the designs. 
## Examples

<Figure description="Long descriptivitious long descriptivitious, long descriptivitious long long. " credit="Nissan, with my humble thanks / Author">
    <Horizontal>
        <img src="/post-images/s-cargo-1.jpg" alt="A Nissan S-Cargo">
        <Snippet style="height: 11em;">{@html $highlight('javascript', `console.log("Hello, World!");`)}</Snippet>
    </Horizontal>
</Figure>

These are great examples.